
<table>
    <thead>
        <tr>
            <th> All cats </th>
        </tr>
    </thead>

		<tbody> 
			<% @cats.each do |cat| %>
				<%= render "cat", cat: cat, type: :index %>
			<% end %>
		</tbody>

</table>